In [1]:
import pandas as pd

# Read data

In [85]:
# New data
df_0910 = pd.read_csv('SerieA_0910.csv')
df_1011 = pd.read_csv('SerieA_1011.csv')
df_1112 = pd.read_csv('SerieA_1112.csv')
df_1213 = pd.read_csv('SerieA_1213.csv')
df_1314 = pd.read_csv('SerieA_1314.csv')
df_1415 = pd.read_csv('SerieA_1415.csv')
df_1516 = pd.read_csv('SerieA_1516.csv')
df_1617 = pd.read_csv('SerieA_1617.csv')
df_1718 = pd.read_csv('SerieA_1718.csv')

#dfs = [df_0910,df_1011,df_1112,df_1213,df_1314,df_1415,df_1516,df_1617,df_1718]
dfs = [df_1718,df_1617]

# Reference
df_1819 = pd.read_csv('SerieA_1819.csv')

# Observe data

In [86]:
df_1819.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   yyyy-mm-dd  380 non-null    object
 1   HH:MM       380 non-null    object
 2   team1       380 non-null    object
 3   team2       380 non-null    object
 4   score1      380 non-null    int64
 5   score2      380 non-null    int64
dtypes: int64(2), object(4)
memory usage: 17.9+ KB

In [87]:
df_1718.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 64 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   HomeTeam  380 non-null    object
 3   AwayTeam  380 non-null    object
 4   FTHG      380 non-null    int64
 5   FTAG      380 non-null    int64
 6   FTR       380 non-null    object
 7   HTHG      380 non-null    int64
 8   HTAG      380 non-null    int64
 9   HTR       380 non-null    object
 10  HS        380 non-null    int64
 11  AS        380 non-null    int64
 12  HST       380 non-null    int64
 13  AST       380 non-null    int64
 14  HF        380 non-null    int64
 15  AF        380 non-null    int64
 16  HC        380 non-null    int64
 17  AC        380 non-null    int64
 18  HY        380 non-null    int64
 19  AY        380 non-null    int64
 20  HR        380 non-null    int64
 21  AR        380 non-null    int64
 22  B365H     380 non-null    float64
 23  B365D     380 non-null    float64
 24  B365A     380 non-null    float64
 25  BWH       380 non-null    float64
 26  BWD       380 non-null    float64
 27  BWA       380 non-null    float64
 28  IWH       380 non-null    float64
 29  IWD       380 non-null    float64
 30  IWA       380 non-null    float64
 31  LBH       380 non-null    float64
 32  LBD       380 non-null    float64
 33  LBA       380 non-null    float64
 34  PSH       379 non-null    float64
 35  PSD       379 non-null    float64
 36  PSA       379 non-null    float64
 37  WHH       380 non-null    float64
 38  WHD       380 non-null    float64
 39  WHA       380 non-null    float64
 40  VCH       380 non-null    float64
 41  VCD       380 non-null    float64
 42  VCA       380 non-null    float64
 43  Bb1X2     380 non-null    int64
 44  BbMxH     380 non-null    float64
 45  BbAvH     380 non-null    float64
 46  BbMxD     380 non-null    float64
 47  BbAvD     380 non-null    float64
 48  BbMxA     380 non-null    float64
 49  BbAvA     380 non-null    float64
 50  BbOU      380 non-null    int64
 51  BbMx>2.5  380 non-null    float64
 52  BbAv>2.5  380 non-null    float64
 53  BbMx<2.5  380 non-null    float64
 54  BbAv<2.5  380 non-null    float64
 55  BbAH      380 non-null    int64
 56  BbAHh     380 non-null    float64
 57  BbMxAHH   380 non-null    float64
 58  BbAvAHH   380 non-null    float64
 59  BbMxAHA   380 non-null    float64
 60  BbAvAHA   380 non-null    float64
 61  PSCH      380 non-null    float64
 62  PSCD      380 non-null    float64
 63  PSCA      380 non-null    float64
dtypes: float64(39), int64(19), object(6)
memory usage: 190.1+ KB

# Functions

In [88]:
def unique_teams_count(df):
    home_teams = set(df['HomeTeam'])
    away_teams = set(df['AwayTeam'])
    unique_teams = home_teams.union(away_teams)
    return len(unique_teams)

def unique_teams_count_2(df):
    home_teams = set(df['team1'])
    away_teams = set(df['team2'])
    unique_teams = home_teams.union(away_teams)
    return len(unique_teams)

In [89]:
for df in dfs:
    print(unique_teams_count(df))

20
20

In [90]:
def process_dataframe(df):
    # Create a new DataFrame by selecting only relevant columns
    new_df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']].copy()

    # Rename columns to match df_1819
    new_df.rename(columns={
        'Date': 'yyyy-mm-dd',
        'HomeTeam': 'team1',
        'AwayTeam': 'team2',
        'FTHG': 'score1',
        'FTAG': 'score2'
    }, inplace=True)

    # Optionally, if you want to add a time column like 'HH:MM' in df_1819
    new_df['HH:MM'] = '00:00'  # You can replace '00:00' with actual time data if you have it

    # Reorder the columns to match df_1819
    new_df = new_df[['yyyy-mm-dd', 'HH:MM', 'team1', 'team2', 'score1', 'score2']]

    return new_df

In [91]:
processed_dfs = [process_dataframe(df) for df in dfs]

# Merge datasets

In [92]:
# Concatenate all processed DataFrames to create a single large DataFrame
processed_dfs.append(df_1819)
merged_df = pd.concat(processed_dfs, ignore_index=True)

print(unique_teams_count_2(merged_df))

# If you want to see the resulting DataFrame
print(merged_df)

25
      yyyy-mm-dd  HH:MM       team1     team2  score1  score2
0       19/08/17  00:00    Juventus  Cagliari       3       0
1       19/08/17  00:00      Verona    Napoli       1       3
2       20/08/17  00:00    Atalanta      Roma       0       1
3       20/08/17  00:00     Bologna    Torino       1       1
4       20/08/17  00:00     Crotone     Milan       0       3
...          ...    ...         ...       ...     ...     ...
1135  2019-05-26  20:30        Roma     Parma       2       1
1136  2019-05-26  20:30       Inter    Empoli       2       1
1137  2019-05-26  20:30  Fiorentina     Genoa       0       0
1138  2019-05-26  20:30    Cagliari   Udinese       1       2
1139  2019-05-26  20:30    Atalanta  Sassuolo       3       1

[1140 rows x 6 columns]

# Filter out teams not present in 1819

In [93]:
# Assume df is your original DataFrame and df_1819 is the DataFrame containing teams from the 2018-2019 season
# Create a set of unique teams from df_1819
unique_teams_1819 = set(df_1819['team1']).union(set(df_1819['team2']))

# Filter out rows from df where either 'team1' or 'team2' are not in unique_teams_1819
final_df = merged_df[merged_df['team1'].isin(unique_teams_1819) & merged_df['team2'].isin(unique_teams_1819)]

In [94]:
print(unique_teams_count_2(final_df))

20

In [95]:
print(final_df)

      yyyy-mm-dd  HH:MM       team1       team2  score1  score2
0       19/08/17  00:00    Juventus    Cagliari       3       0
2       20/08/17  00:00    Atalanta        Roma       0       1
3       20/08/17  00:00     Bologna      Torino       1       1
5       20/08/17  00:00       Inter  Fiorentina       3       0
6       20/08/17  00:00       Lazio        Spal       0       0
...          ...    ...         ...         ...     ...     ...
1135  2019-05-26  20:30        Roma       Parma       2       1
1136  2019-05-26  20:30       Inter      Empoli       2       1
1137  2019-05-26  20:30  Fiorentina       Genoa       0       0
1138  2019-05-26  20:30    Cagliari     Udinese       1       2
1139  2019-05-26  20:30    Atalanta    Sassuolo       3       1

[924 rows x 6 columns]

# Save df

In [96]:
final_df.to_csv('SerieA_extended_3.csv', index=False)